page-home {
  .agreement {
    font-size:0.75em;
  }
//$checkbox-item-start-margin-end: (1px)
//.item-disabled, item-disabled * { opacity: 0.3; pointer-events: none; }
//.item-enabled, item-enabled * { opacity: 1; pointer-events: all; }
//these contents are for making the button disabled in case the form validation is not complete

}
